@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/containers.css");


body {
  font-family: sans-serif
  margin: 0px;
  font-size: 16px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

h3 {
  font-weight: bold;
}

p {
  color: #BABABA;
}

.banner p {
  font-size: 20px;
}

a {
  text-decoration: none;
}
